.selectableListItem {
    list-style-type: none;
    height: 40px;
    width: 200px;
    /* background-color: #d9e0cd; */
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 2px black;
    box-shadow: 5px 5px 2px 1px #d9e0cd;
}

.unselectableListItem {
    list-style-type: none;
    height: 40px;
    width: 400px;
    /* background-color: #d9e0cd; */
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 5px 5px 2px 1px #d9e0cd;   
}

.selectableListItem + li {
    list-style-type: none;
}

.listsContainer {
    list-style-type: none;
}

.listsContainer {
    display: flex;
}

.incorrectColor {
    background-color: crimson;
}

.correctColor {
    background-color: #61c79a;
}

.submitContainer {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: "space-around"
}