.submitContainer {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: space-around

}

li {
   
}

.questionExpression {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.6rem;
}

.multipleChoiceListItem {
    position: relative;
    /* justify-content: space-between; */
    margin-top: 15px;
}

.multipleChoiceRadio {
    position: relative;
    left: 0px;
}

.multipleChoiceOption {
    position: relative;
    left: 30px;
    font-size: 1.3rem;
}

.questionContainer {
    animation-duration: 0.8s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }