.shortAnswerForm {
    display: flex;
    align-items: center;
}

.shortAnswerInput {
    width: 100%;
    height: 25px;
    margin-top: 20px;
}

.submitBtnContainer {
   text-align: center;
}

.shortAnswerLabel {
    margin-right: 10px;
    padding-top: 18px;
}

.hint {
    font-size: 0.8rem;
}

.shortAnswerQuestionContainer {
    animation-duration: 0.8s;
    animation-name: slidein !important;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .slideoutDiv {
    animation-duration: 0.8s;
    animation-name: slideout !important;
  }

  @keyframes slideout {
    from {
      margin-left: 0%;
      width: 300%; 
    }
  
    to {
      margin-right: 300%;
      width: 100%;
    }
  }