@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* font-family: 'Roboto', sans-serif; */
}

.credits {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 0.8rem;
}